<div class="image">
	<img src="../../assets/home1-img.png" alt="home-img" height="200" width="200">
</div>

<div class="backHome" >
    <a type="button" routerLink="/home">
        <img src="../../assets/home-img.png" alt="home-img" height="64" width="64">
    </a>
</div>

<div class="container">
	<button class="btn btn4" routerLink="/proveedores">Proveedor</button>
	<button class="btn btn1" routerLink="/clientes">Clientes</button>
    <button class="btn btn2" routerLink="/materiales">Materiales</button>
    <button class="btn btn3" routerLink="/ubicaciones">Ubicaciones</button>
</div>