<div class="addData">
    <a type="button" onclick="document.getElementById('id04').style.display='block'">
        <img src="../../assets/new-img.png" alt="new-img" height="64" width="64">
    </a>
</div>
<div class="backHome" >
    <a type="button" routerLink="/home">
        <img src="../../assets/home-img.png" alt="home-img" height="64" width="64">
    </a>
</div>

<!-- TABLA ALBARAN -->
<div class="table-wrapper">
    <h1>ALBARÁN</h1>
    <table class="fl-table">
        <thead *ngFor="let item of table_header">
            <th>{{item.idpedido}}</th>
            <th>{{item.fecha_entrega}}</th>
            <th>{{item.idestado}}</th>
            <!-- <th></th> -->
            <th></th>
            <th></th>
        </thead>

        <tbody>
            <tr *ngFor="let item of respuestaAlbaran">
                <td>{{ item.idpedido }}</td>
                <td>{{ item.fecha_entrega }}</td>
                <td>{{ item.idestado }}</td>
                <!-- <td>
                    <a type="button" (click)="getDatabyID(item.id)">
                        <img src="../../assets/edit-img.png" alt="edit-img" height="18" width="18">
                    </a>
                </td> -->
                <td>
                    <a type="button" href="/resumen_albaran" (click)="getDatabyID(item.id)">
                        <img src="../../assets/details.ico" alt="details-img" height="18" width="18">
                    </a>
                </td>
                <td>
                    <a type="button" (click)="deleteDataTable(item.id)">
                        <img src="../../assets/delete-img.png" alt="delete-img" height="18" width="18">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- TABLA ALBARAN -->

<!-- MODAL ALBARAN -->
<div>
    <div id="id04" class="w3-modal">
        <div class="w3-modal-content">
            <header>
                <span onclick="document.getElementById('id04').style.display='none'" class="w3-display-topright">
                    <img src="../../assets/close-img.png" alt="edit-img" height="18" width="18">
                </span>
                <!-- <h2>Registro Cliente</h2> -->
            </header>

            <div>
                <h1>Nuevo Albarán</h1>
                <form [formGroup]="albaranForm" autocomplete="off">
                    <strong>Pedido *</strong><br>
                    <select formControlName="idpedido">
                        <option *ngFor="let item of respuestaPedidos" value={{item.id}}>{{item.idproveedor}} - {{item.fecha}}</option>
                    </select>
                    <br>

                    <a  type="button" (click)="postDataAlbaran()"class="w3-display-bottomright">
                        <img src="../../assets/save-img.png" alt="save-img" height="40" width="40">
                    </a>
                </form>
                <span class="w3-display-bottomleft" *ngIf="albaranForm.controls['idpedido'].errors?.required">* Campos Obligatorios</span>
            </div>
        </div>
    </div>
</div>
<!-- MODAL ALBARAN -->
