<h2>Resumen</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead *ngFor="let item of table_header">
            <th>{{item.cantidad}}</th>
            <th>{{item.precio_llegada}}</th>
            <th>{{item.precio_pedido}}</th>
            <th>{{item.idReclamo}}</th>
            <th>{{item.idPedido}}</th>
            <th>{{item.idMaterial}}</th>
            <th></th>
        </thead>

        <tbody>
            <tr *ngFor="let item of respuesta">
                <td>{{item.cantidad}}</td>
                <td>{{item.precio_llegada}}</td>
                <td>{{item.precio_pedido}}</td>
                <td>{{item.idReclamo}}</td>
                <td>{{item.idPedido}}</td>
                <td>{{item.idMaterial}}</td>
                <td>
                    <a type="button" (click)="deleteDataTable(item.id)" routerLink="/pedidos">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <img src="../../../assets/delete-img.png" alt="delete-img" height="18" width="18">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>