<div class="addData">
    <a type="button" onclick="document.getElementById('id04').style.display='block'">
        <img src="../../assets/new-img.png" alt="new-img" height="64" width="64">
    </a>
</div>

<h1>Resumen</h1>
<div class="table-wrapper">
    <table class="fl-table">
        <thead *ngFor="let item of table_header">
            <th>{{ item.cantidad }}</th>
            <th>{{ item.idmaterial }}</th>
            <th>{{ item.valor_unitario }}</th>
            <th>{{ item.valor_total }}</th>
            <th></th>
            <th></th>

        </thead>

        <tbody>
            <tr *ngFor="let item of respuestaDetalleFactura">
                <td>{{item.cantidad}}</td>
                <td>{{item.idmaterial}}</td>
                <td>{{item.valor_unitario}}</td>
                <td>{{item.valor_total}}</td>
                <td>
                    <a type="button">
                        <img src="../../assets/edit-img.png" alt="edit-img" height="18" width="18">
                    </a>
                </td>
                <td>
                    <a type="button" (click)="deleteDataTable(item.id)" href="/resumen_facturacion">
                        <img src="../../../assets/delete-img.png" alt="delete-img" height="18" width="18">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- MODAL DETALLE_FACTURA -->
<div>
    <div id="id04" class="w3-modal">
        <div class="w3-modal-content">
            <header>
                <span onclick="document.getElementById('id04').style.display='none'" class="w3-display-topright">
                    <img src="../../assets/close-img.png" alt="edit-img" height="18" width="18">
                </span>
                <!-- <h2>Registro Cliente</h2> -->
            </header>

            <div>
                <h1>Detalle de la Factura</h1>
                <form [formGroup]="detallefacturaForm" autocomplete="off">
                    <strong>Material *</strong><br>
                    <select formControlName="idmaterial">
                        <option *ngFor="let item of respuestaMateriales" value={{item.id}}>{{item.nombre}}</option>
                    </select>
                    <br>

                    <strong>Cantidad solicitada *</strong><br>
                    <input formControlName="cantidad">
                    <br>

                    <a type="button" (click)="postDataDetalleFacturas()"class="w3-display-bottomright">
                        <img src="../../assets/save-img.png" alt="save-img" height="40" width="40">
                    </a>
                </form>
                <span class="w3-display-bottomleft">* Campos Obligatorios</span>
            </div>
        </div>
    </div>
</div>

<div class="pdfButton">
    <a type="button" class="pdf" (click)="pdf()">
        <img src="../../assets/png-img.png" alt="pdf-img" height="64" width="64">
    </a>
</div>
<!-- MODAL DETALLE_FACTURA -->

<!-- SUBTOTAL - TOTAL - IVA -->
<div class="second_table">
    <table class="fl-table">
        <thead>
            <tr *ngFor="let item of respuestaSubtotal">
                <th>Subtotal</th>
                <td>{{ item.subtotal }}</td>
            </tr>
            <tr *ngFor="let item of respuestaIva">
                <th>I.V.A. 12%</th>
                <td>{{ item.iva }}</td>
            </tr>
            <tr *ngFor="let item of respuestaTotal">
                <th>Total</th>
                <td>{{ item.total }}</td>
            </tr>
        </thead>
    </table>
</div>

<div class="levelDown">
    <a type="button" routerLink="/facturacion">
        <img src="../../assets/back-img.png" alt="home-img" height="64" width="64">
    </a>
</div>