<div class="image">
	<img src="../../assets/home1-img.png" alt="home-img" height="200" width="200">
</div>

<div class="container">
	<button class="btn btn1" routerLink="/facturacion">Facturación</button>
	<button class="btn btn2" routerLink="/pedidos">Pedidos</button>
	<button class="btn btn3" routerLink="/albaran">Albaran</button>
	<button class="btn btn4" routerLink="/proveedores">Proveedor</button>
	<button class="btn btn1" routerLink="/clientes">Clientes</button>
	<button class="btn btn2" routerLink="/materiales">Materiales</button>
</div>