<div class="fondo" class="topnav" id="myTopnav">
	<header class="menu">
		<a routerLink="/facturacion">Facturación</a>
		<a routerLink="/pedidos">Pedidos</a>
		<a routerLink="/albaran">Albaran</a>
		<a routerLink="/proveedores">Proveedor</a>
		<a routerLink="/clientes">Clientes</a>
		<a routerLink="/materiales">Materiales</a>
	</header>
</div>

<body background="../../assets/fondo.jpg">

	<body>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</body>