<div class="addData">
    <a type="button" onclick="document.getElementById('id04').style.display='block'">
        <img src="../../assets/new-img.png" alt="new-img" height="64" width="64">
    </a>
</div>
<div class="backHome">
    <a type="button" routerLink="/home">
        <img src="../../assets/home-img.png" alt="home-img" height="64" width="64">
    </a>
</div>

<!-- TABLA UBICACIONES -->
<div class="table-wrapper">
    <h1>Ubicaciones</h1>
    <table class="fl-table">
        <thead *ngFor="let item of table_header">
            <th>{{item.id}}</th>
            <th>{{item.nombre}}</th>
            <th></th>
        </thead>

        <tbody>
            <tr *ngFor="let item of respuestaUbicaciones">
                <td>{{ item.id }}</td>
                <td>{{ item.nombre }}</td>
                <td>
                    <a type="button" (click)="deleteDataTable(item.id)">
                        <img src="../../../assets/delete-img.png" alt="delete-img" height="18" width="18">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- TABLA UBICACIONES -->

<!-- MODAL UBICACIONES -->
<div>
    <div id="id04" class="w3-modal">
        <div class="w3-modal-content">
            <header>
                <span onclick="document.getElementById('id04').style.display='none'" class="w3-display-topright">
                    <img src="../../assets/close-img.png" alt="edit-img" height="18" width="18">
                </span>
                <!-- <h2>Registro Proveedor</h2> -->
            </header>

            <div>
                <h1>Nueva Ubicación</h1>
                <form [formGroup]="ubicacionForm" autocomplete="off">
                    <strong>Nombre *</strong><br>
                    <input formControlName="nombre">
                    <br>

                    <a type="button" (click)="postDataUbicacion()" class="w3-display-bottomright">
                        <img src="../../assets/save-img.png" alt="save-img" height="40" width="40">
                    </a>
                </form>
                <span class="w3-display-bottomleft">* Campos Obligatorios</span>
            </div>
        </div>
    </div>
</div>
<!-- MODAL UBICACIONES -->
